<%layout("boilerplate")%>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/accordian.css">

<div class="container pt-5 d-flex flex-column align-items-center home_container">
    <h1>EFFICIENTI</h1>
    <div class="my-5 text-center">
      Welcome to our productivity powerhouse! Our website is dedicated to helping you unlock your full potential and achieve peak performance in the workplace. Whether you're an employee, manager, or business owner, we have the tools, tips, and resources to supercharge your productivity and drive success.
   </div>
    <h1>Sections</h1>
    <div class="row my-5">
        <div class="col-md-4 my-4">
            <div class="card home_card">
                <div class="card-body">
                  <h3 class="card-title"><img src="images/icons/homee.jpg" style="width:40px;border-radius: 50%; margin-right:15px">Home</h3>

                  <p class="card-text">On our home page, you'll find a dynamic hub of information designed to inspire, educate, and motivate you on your productivity journey.</p>
                  <a href="/home" class="card-link btn btn-light">View</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="card home_card">
                <div class="card-body">
                  <h3 class="card-title"><img src="images/icons/dashboard.jpg" style="width:40px;border-radius: 50%; margin-right:15px">Dashboard</h3>
                  <p class="card-text">Take control of your Productivity journey. Visualize your accomplishments, and gain valuable insights into your productivity patterns.</p>
                  <a href="/dashboard" class="card-link btn btn-light">View</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="card home_card">
                <div class="card-body">
                  <h3 class="card-title"><img src="images/icons/invent.jpg" style="width:40px;border-radius: 50%; margin-right:15px">Your efficienti</h3>
                  <p class="card-text">By aligning your goals, values, and priorities, you can create a harmonious blend of work, personal life, and self-care.</p>
                  <a href="/efficienti" class="card-link btn btn-light">View</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-4 my-4">
            <div class="card home_card">
                <div class="card-body">
                  <h3 class="card-title"><img src="images/icons/task.jpg" style="width:40px;border-radius: 50%; margin-right:15px">Task Scheduler</h3>
                  <p class="card-text">Master your day, every day! Introducing TaskSync: Your Ultimate Task Scheduler for Effortless Productivity. Plan, prioritize, and conquer your to-do list with ease.</p>
                  <a href="/tasks" class="card-link btn btn-light">View</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="card home_card">
                <div class="card-body">
                  <h3 class="card-title"><img src="images/icons/produc.jpg" style="width:40px;border-radius: 50%; margin-right:15px">Boost Productivity</h3>
                  <p class="card-text">Unleash your productivity potential with The Ultimate Productivity Booster. Supercharge your focus, streamline your workflow, and achieve peak performance.</p>
                  <a href="/productivity" class="card-link btn btn-light">View</a>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="container home_container">
    <h1 class="text-center my-5">Help Center</h1>
    
    <div class="row">
      
      <div class="col-md-6">
        <div class="wrapper bg-dark  shadow">
          <div class="h3 text-center pb-3">FAQs</div>
          
          <div class="accordion accordion-flush border-top border-start border-end" id="myAccordion">
             
             <div class="accordion-item home_help_body">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0 home_help" type="button" data-bs-toggle="collapse"
                   data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Can employees track their work progress?</button> </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                   <div class="accordion-body p-4">
                     Yeah, why not?
                   </div>
                </div>
             </div>
             <div class="accordion-item  home_help_body">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0 home_help" type="button" 
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"> 
                  Will this website help me get a job? </button> </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne" 
                data-bs-parent="#myAccordion">
                   <div class="accordion-body p-4">
                     Not exactly, but you can obviously become a better version of yourself through this website.
                   </div>
                </div>
             </div>
             <div class="accordion-item  home_help_body">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0 home_help" type="button"
                   data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"> 
                  Can I check other employee records?</button> </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne" 
                data-bs-parent="#myAccordion">
                   <div class="accordion-body p-4">
                     NO SPYING!! None of the employee records are shared with others so better watch yourself !
                   </div>
                </div>
             </div>
             <div class="accordion-item   home_help_body">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0 home_help" type="button"
                   data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  What features does this website provide?</button> </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne"
                 data-bs-parent="#myAccordion">
                   <div class="accordion-body p-4">
                      Everything is written in the sections above <br>
                      <a href="#" style="color:aqua">Click here</a>
                   </div>
                </div>
             </div>
             <div class="accordion-item  home_help_body">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0 home_help" 
                  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                   aria-controls="flush-collapseSix"> Is this website completely free to use? </button> </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse border-0" aria-labelledby="flush-headingOne" 
                data-bs-parent="#myAccordion">
                   <div class="accordion-body p-4">
                     Yeah, completely FREE!
                   </div>
                </div>
             </div>
          </div>
       </div> 
       
     </div>
     <div class="col-md-6">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item home_help_body">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed home_help" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Contact Us
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body p-4 home_help_body"><p><i class="fas fa-home me-3 text-secondary"></i> NSUT, Dwarka sector-3, New Delhi,</p>
               <p>
                 <i class="fas fa-envelope me-3 text-secondary"></i>efficienti@gmail.com
               </p>
               <p><i class="fas fa-phone me-3 text-secondary"></i> +91 234 567 88</p>
               <p><i class="fas fa-print me-3 text-secondary"></i> +91 234 567 89</p></div>
          </div>
        </div>
        
      </div>
    </div>

    </div>
    
        
</div>

