<%layout('boilerplate')%>

<!-- FIND PRODUCTIVE HOURS  -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <!-- One of three columns -->
            <div class="card" style="width: 24rem; font-family:Arial, Helvetica, sans-serif; border: none;">
                <img src="/images/prodgraph.png" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #232e37;">
                    <h3 class="card-title text-light">Find Your Productive Hours</h3>
                    <p class="card-text text-secondary">Efficiency varies with different circadian rhytms.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: #e76a6a;">Head to <a href="/dashboard"
                            style="color: white;">Dashboard</a> to view</li>
                    <li class="list-group-item" style="background-color: #490372; color: white;">When did you feel
                        most productive today?

                        <select class="form-control mt-3" style="background-color: rgb(219, 192, 192);">
                            <option>Choose</option>
                            <option>7 am - 9pm</option>
                            <option>9 am - 12pm</option>
                            <option>12 pm- 3 pm</option>
                            <option>3 pm- 6 pm</option>
                            <option>6 pm- 9 pm</option>
                            <option>9 pm- 11 pm</option>

                        </select>
                        <button class="btn mt-3" style="background-color: #321842; color: white;">Submit</button>

                </ul>

            </div>
        </div>
        <div class=" col-lg-8">
            <!-- One of three columns -->

            <div class="card" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border: none;">
                <div class="card-header">
                    About Circadian Rhytm and Productivity
                </div>
                <div class="card-body" style="background-color: #171b21;">
                    <blockquote class="mb-0" style="color: #dedbdb;">
                        <p>When employees are able to schedule their work in a way that best fits their energy
                            schedule, that's when true productivity gains will occur. For exxample the following
                            pattern was observed to increase productivity--</p>
                        <br>
                        1) Morning peak: Reserve this time for work that demands your highest level of focus, such
                        as critical decision-making & presentations. <br><br>
                        2) Afternoon dip: Schedule administrative tasks like emails or CRM updates, or passive
                        webinar watching for this energy lull, which is a normal part of your circadian rhythm.
                        <br><br>
                        3) Evening ramp-up and peak: Knock out another project that requires a high level of focus
                        or collaborative effort. Taking advantage of this peak leaves you ready to start winding
                        down. <br><br>
                        4) Evening wind-down: It’s easy to ignore the call to relax in this always-on era of work.
                        But taking the time to unplug before bed will help you get a better night’s sleep and
                        accomplish more the next day.
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FIND PRODUCTIVE HOURS ENDS -->


<!-- CREATE A ROUTINE  -->
<div class="container mt-5 mb-5  ">
    <div class="card text-center " style="border:none;">
        <div class="card-header " style="background-color: #9c2142; color: white;">
            <h4>Generate a Productive Routine.</h4>
        </div>
        <div class="row m-0">
            <div class="col-6 p-0 ">
                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="background-color: #1d2231;height: 100%;">

                    <input class="form-control mt-3 w-50 " type="text" placeholder="Task 1">
                    <input class="form-control mt-3 w-50" type="text" placeholder="Task 2">
                    <input class="form-control mt-3 w-50" type="text" placeholder="Task 3">
                    <input class="form-control mt-3 w-50" type="text" placeholder="Task 4">
                    <input class="form-control mt-3 w-50" type="text" placeholder="Task 5">
                    <input class="form-control mt-3 w-50" type="text" placeholder="Task 6">

                </div>
            </div>
            <div class="col-6 p-0">
                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="background-color: #1d2231; color: white; height: 100%;">
                    <h5>Most Efficient Routine</h5>
                    <p style="color: rgb(229, 187, 0);">7am - 9am ->Task 1</p>
                    <p style="color: rgb(191, 255, 101);">9am - 12pm ->Task 2</p>
                    <p style="color: rgb(219, 161, 201);">12pm - 3pm ->Task 3</p>
                    <p style="color: rgb(213, 212, 255);">3pm - 6pm ->Task 4</p>
                    <p style="color: rgb(98, 214, 123);">6pm - 9pm ->Task 5</p>
                    <p style="color: rgb(231, 133, 164);">9pm - 11pm ->Task 6</p>

                </div>
            </div>
        </div>



    </div>
</div>
<!-- CREATE A ROUTINE ENDS -->

<!-- SLEEP PATTERN  -->
<div class="container mt-5 mb-5">
    <div class="card text-center" style="border:none;">
        <div class="card-header" style="background-color: #bdbdbd;">
            <h4>Find your sleep type</h4>
        </div>
        <div class="card-body" style="background-color: #171b21;">


            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link link-light">

                        <h4><img src="/images/lion.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">Lion </h4>
                        <p style="color: rgb(143, 141, 141);">:naturally wake up early and prefer earlier bedtimes
                        </p>
                    </a>
                </li>
                <li>
                <li>
                    <a href="#" class="nav-link link-light">
                        <h4><img src="/images/wolf.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">Wolf </h4>
                        <p style="color: rgb(143, 141, 141);">: naturally stay up late, struggling to wake up each
                            morning.</p>
                    </a>
                </li>
                <a href="#" class="nav-link link-light">

                    <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg> -->
                    <h4><img src="/images/dolphin.png" alt="" width="32" height="32"
                            class="rounded-circle me-2">Dolphin </h4>
                    <p style="color: rgb(143, 141, 141);">: light sleepers,tired consistently throughout the day</p>
                </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-light">

                        <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg> -->
                        <h4><img src="/images/bear.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">Bear </h4>
                        <p style="color: rgb(143, 141, 141);">: tend to wakeup at sunrise and hit an afternoon
                            slump.</p>
                    </a>
                </li>
                <li>

                </li>
            </ul>
            <a href="#" class="btn btn-info mt-4">Take a Quiz</a>
        </div>

    </div>
</div>
<!-- SLEEP PATTERN ENDS  -->

<!-- WORK LABELS -->
<div class="container pb-4">
    <div class="card text-center mb-5" style="border:none;">
        <div class="card-header" style="background-color: #bdbdbd;">
            <h5>Choose the labels you feel most efficient doing.</h5>
        </div>
        <div class="card-body" style="background-color: #171b21;">
            <button type="button" class="btn btn-warning">Team-Woker</button>
            <button type="button" class="btn btn-warning">Client-Interaction</button>
            <button type="button" class="btn btn-warning">Lone-Wolf</button>
            <button type="button" class="btn btn-warning">Communicator</button>
            <button type="button" class="btn btn-warning">Techy</button>
            <button type="button" class="btn btn-warning">Explorer</button>
            <button type="button" class="btn btn-warning">Book-Keeper</button>
            <button type="button" class="btn btn-warning">Manager</button>

        </div>

    </div>
</div>
<!-- WORK LABELS ENDS -->
