<%layout('boilerplate')%>

<link rel="stylesheet" href="/css/tech.css">

<h1><b>HOW ARE YOU FEELING</b>?</h1>
   
    <br>
    <div class="card-group m-md-3">

        <div class="row mx-3">
            <div class="col-md-4">
                <div class="cardi">
                    <div class="contain_mov_card">

                        <div class="face face1">
                            <div class="outer">
                                <h1 class="title"><b>LAZY</b></h1>
                                <img src="images/cardimages/lazy cat.jpg" class="card-img" id="dessert" alt="">
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="inner">
                                <p id="change">The Japanese concept <b>"KAIZEN"</b> holds the key to effectively overcoming laziness. Kaizen represents a philosophy centred around continuous improvement and the pursuit of small, incremental changes that ultimately lead to significant transformations over time. By embracing this approach, individuals can break free from the paralysing grip of laziness and become productive and disciplined. </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cardi">
                    <div class="contain_mov_card">

                        <div class="face face1">
                            <div class="outer">
                                <h1 class="title"><b>BORED</b></h1>
                                <img src="images/cardimages/bored cat.jpg" id="dessert" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="inner">
                                <p id="change"><b>The Leitner System</b> employs the concept of spaced repetition, which is an approach to memorization that uses time intervals. Rather than cramming information into your brain all in one sitting, spaced repetition encourages learners to space out learning over periods of time. So do this fun activity of making flashcards whenever you feel bored! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cardi">
                    <div class="contain_mov_card">

                        <div class="face face1">
                            <div class="outer">
                                <h1 class="title"><b>CREATIVITY  BLOCK</b></h1>
                                <img src="images/cardimages/block.jpg" class="card-img-top" id="dessert" alt="">
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="inner" >
                                <p id="change"> Do something completely out of your comfort zone! Inspiration is everywhere. Looking at other artists’ work can be incredibly inspiring. And especially if their work is different to what you’re used to, immersing yourself in something new can generate tons of new ideas. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <div class="row mx-3">
        <div class="col-md-4">
            <div class="cardi">
                <div class="contain_mov_card">

                    <div class="face face1">
                        <div class="outer">
                            <h1 class="title"><b>RETAINING INFO</b></h1>
                            <img src="images/cardimages/retain.jpg" class="card-img" id="dessert" alt="">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p id="change">The <b>SQ3R</b> method can help improve your study skills by promoting active reading and engagement with the material. By asking questions, summarizing key points, and reviewing your understanding, you are more likely to retain information and apply it to future contexts. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cardi">
                <div class="contain_mov_card">

                    <div class="face face1">
                        <div class="outer">
                            <h1 class="title"><b>BE MY DUCK</b></h1>
                            <img src="images/cardimages/cat duck.jpg" id="dessert" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p id="change"><b>The Feynman Technique</b> is a four-step process for understanding any topic. This technique rejects automated recall in favor of true comprehension gained through selection, research, writing, explaining, and refining. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cardi">
                <div class="contain_mov_card">

                    <div class="face face1">
                        <div class="outer">
                            <h1 class="title"><b>MORE</b></h1>
                            <img src="images/cardimages/more cat.jpg" class="card-img-top" id="dessert" alt="">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p id="change">Are you trying to find the best productivity methods and enrich your learning techniques? With so many distractions pulling us away from important revision, using study methods like the Pomodoro Technique and the Leitner System can be a great way to focus, improve memory, and better understand the way we learn. </p>
                            <a href="#" class="btn btn-primary" type="button">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
