<%layout('zeroboilerplate')%>

<% if(success &&success.length){ %>
 
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%=success%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
      <% if(error &&error.length){ %>
          
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%=error%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>


<div class="container personal mt-5" style="color:white">

    <h1 class="d-flex justify-content-center mb-5">Register</h1>
<form action="/register" method="post" class="row g-3 validated-form" novalidate>
    <div class="col-md-6">
      <label for="username" class="form-label">UserName</label>
      <input type="text" name="username" class="form-control" id="username" required>
    
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="inputPassword4" placeholder="@email.com" required>
     
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="inputAddress" required>
     
    </div>
    
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address</label>
      <input type="text" name="address" class="form-control" id="inputAddress2" placeholder="Where do you live?" required>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Gender</label>
      <select id="inputState" class="form-select" name="gender" required>
        <option selected>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputAddress" class="form-label">Phone No.</label>
      <input type="text" name="phoneno" class="form-control" id="inputAddress" placeholder="98759xxxxx" required>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">About Yourself</label>
      <textarea name="about" class="form-control" id="inputAddress" placeholder="type..." required> </textarea>
    </div>
  
    <div class="col-12 d-flex justify-content-center ">
      <button type="submit" class="btn btn-success ">Register</button>
    </div>
  </form>
</div>